<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-sm p-4" style="width: 100%; max-width: 380px;">
    
    <h2 class="text-center mb-4 fw-semibold">Iniciar sesión</h2>

     <div *ngIf="error" class="alert alert-danger py-2">
      {{ error }}
    </div>
    
    <div class="mb-3">
      <label class="form-label">Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa tu usuario"
        [(ngModel)]="username">
    </div>

    <div class="mb-4">
      <label class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        placeholder="Ingresa tu contraseña"
        [(ngModel)]="password">
    </div>

    <button
      class="btn btn-primary w-100"
      [disabled]="!username || !password"
      (click)="login()">
      Ingresar
    </button>

  </div>
</div>
